# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr

# typescript incremental build
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / local
*.local
.env
.env.*
!.env.example

# local sqlite db (Prisma dev)
*.db
*.db-journal

# editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
